{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="fill">
  <div id="animated_img"></div>
</div>

<div class="footer">
  <div class="container">

    <div class="filler"> </div>
    <div>
      <p>I am a doctoral student at the University of Calfornia, Davis in the Department of Mechanical and Aerospace Engineering. I am a member of the <a href=https://birdlab.notion.site>BIRD lab</a> where I study the morphing strategies that raptors use for flight control. I am advised by <a href="https://orcid.org/0000-0002-2830-0844">Dr. Christina Harvey</a> and Dr. Kevin P.T. Haughn at the Army Research Laboratory.
      </p>

      <p>I completed my undergraduate degree in Aerospace Engineering at the University of Maryland, College Park, conducting research at the <a href="http://www.agrc.umd.edu/">Alfred Gessow Rotorcraft Center</a>, learning aerospace control systems, and working at the student run radio station, <a href="https://www.wmuc.umd.edu/">WMUC 88.1 FM</a> (now, 90.5 FM).
      </p>

      <p>I spent a few years in the Flight Dynamics branch of the Naval Air Systems Command (NAVAIR) where I worked on the F-35 Joint Strike Fighter program, primarily on flight testing of the F-35B (STOVL) variant. I also performed research on rotorcraft pilot workload under augmented reality cueing during shipboard dynamic interface.
      </p>

      <p>I then worked as a software engineer for a number of years, developing tools for the National Reconaissance Office (NRO).
      </p>

      <p>In my spare time I enjoy riding vintage bikes, playing and designing board games, cooking, playing guitar, rock climbing, still photography, and painting. While an amateur, I document my photography on <a href="https://www.instagram.com/woodentoken/">Instagram</a>.</p>
    </div>
    <div class="filler"> </div>
  </div>
</div>

{% endblock %}
