{% extends "base.html" %}
{% block title %}Media{% endblock title %}
{% block content %}
<div class="media">
  <div class="type">
    <h2>PHOTOGRAPHY</h2>
    <div>I am an amateur photographer. I shoot on a Sony A7iii.</div>
  </div>
  <div class="type">
    <h2>POETRY</h2>
    <div>I am an amateur poet. Some of my poetry is catalogued on my blog.</div>
  </div>
  <div class="type">
    <h2>VISUAL ARTS</h2>
    <div>I am an amateur artist. See below for some of my artwork.</div>
  </div>
</div>
{% endblock content %}
