{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="projects">
  <div class="grid_tl">
    <h2>ARCHEOPTYREX</h2>
    <div>personal / academic blog</div>
  </div>

  <div class="grid_tr">
    <h2>TASKMASTER</h2>
    <div>time management / weekly planning app</div>
  </div>

  <div class="grid_ll">
    <h2>MARKET</h2>
    <div>stock market tracking app</div>
  </div>
  <div class="grid_lr">
    <h2>CLAN</h2>
    <div>board game designed with python image libarary (PIL) and stable diffusion</div>
  </div>

  <div class="grid_bottom">
    <h2>DOTFILES</h2>
    <div>I am proud of my dotfile configuration, just want to share them</div>
  </div>
</div>
{% endblock %}
